<div class="tile tile--2x">
    <img src="{{icon}}" class="icon icon--large" />
    <h2>{{temperature}} °C</h2>
    <div class="subtitle">{{description}}</div>
    <div class="tile-3col">
        <div class="tile-col">
            <div class="subtitle">Min</div>
            <h3>{{min}} °C</h3>
        </div>
        <div class="tile-col">
            <div class="subtitle">Max</div>
            <h3>{{max}} °C</h3>
        </div>
        <div class="tile-col">
            <div class="subtitle">Voorspelling</div>
            <img src="{{alert}}" class="icon icon--small" />
        </div>
    </div>
</div>